/**
 * Styles for the MainLayout component.
 */

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #121212;
  color: #e5e7eb;
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.layout-content {
  flex: 1;
  overflow: hidden;
  background-color: #171717;
}

/* Responsive Design */
@media (max-width: 768px) {
  .layout-content {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .layout-content {
    padding: 0;
  }
}
